@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  width: 100%;
}

.modal-open::before {
  content: "";
  position: fixed;
  inset: 0; /* Pokryje celý viewport */
  background-color: rgba(0, 0, 0, 0.7); /* Tmavé prekrytie */
  z-index: 50; /* Nastavenie vrstvy nad obsahom */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
